<h1>Listing records in cart</h1>

<table>
  <thead>
    <tr>
      <th>Record</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_records.each do |cart_record| %>
      <tr>
        <td><%= cart_record.stored_record %></td>
        <td><%= cart_record.user %></td>
        <td><%= link_to 'Destroy', cart_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
